@font-face {
    font-family: 'Montserrat Medium';
    src: url('./Montserrat-Medium.woff2') format('woff2'),
        url('./Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans SemiBold';
    src: url('./OpenSans-SemiBold.woff2') format('woff2'),
        url('./OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('./OpenSans-Regular.woff2') format('woff2'),
        url('./OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans ExtraBold';
    src: url('./OpenSans-ExtraBold.woff2') format('woff2'),
        url('./OpenSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('./OpenSans-Bold.woff2') format('woff2'),
        url('./OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Black';
    src: url('./Montserrat-Black.woff2') format('woff2'),
        url('./Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

